<head>
<%= stylesheet_link_tag 'reset', :media => "all", 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class='list-screen'>
    <div class='list-items'>
    </div>
  </div>
</body>