.add-recipe-btn {
  width: 600px;
  background: #e46829;
  text-align: center;
  border-radius: 25%;
  position: fixed;
  bottom: 70px;
  right: 470px;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.add-recipe-btn-text {
  display: block;
  font-size: 30px;
  margin-bottom: 5px;
}